<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Title</title>
    <link rel="stylesheet" href="../Public/dist/common.js.css">
    <link rel="stylesheet" href="../Public/dist/article-list.css">
</head>
<body>

<i id="go-back" class="the-icon-btn am-icon am-icon-angle-left"></i>

<header>
    <i class="am-icon am-icon-upload the-icon-btn"></i>
    <img src="../Public/wsj2015-2.png" class="am-img-responsive">
    <p>
        这只零仔是懒惰，特征主要体现在行为上，走哪睡哪，吃东西会睡着 ，洗澡会睡着，
        上学的路上会睡着，他可以映射这个时代的学生们，在压力之下的疲乏于无所作为。
    </p>
</header>
<section class="am-margin-vertical">
    <div class="article-list">
        <div class="article-list-item am-g am-margin-vertical">
            <div class="am-u-sm-5 am-u-md-12">
                <div class="article-list-item-img">
                    <img src="../Public/1.jpg" class="am-img-responsive">
                </div>
            </div>
            <div class="am-u-sm-7 am-u-md-12 article-list-item-img-title">
                <p>
                    <strong>
                        这里是文章标题这里是文章标题
                    </strong>
                </p>
                <p class="c-red">/零仔No.1</p>
            </div>
        </div>
        <div class="article-list-item am-g am-margin-vertical">
            <div class="am-u-sm-5 am-u-md-12">
                <div class="article-list-item-img">
                    <img src="../Public/1.jpg" class="am-img-responsive">
                </div>
            </div>
            <div class="am-u-sm-7 am-u-md-12">
                <p>
                    <strong>
                        这里是文章标题这里是文章标题
                    </strong>
                </p>
                <p class="c-red">/零仔No.1</p>
            </div>
        </div>
        <div class="article-list-item am-g am-margin-vertical">
            <div class="am-u-sm-5 am-u-md-12">
                <div class="article-list-item-img">
                    <img src="../Public/1.jpg" class="am-img-responsive">
                </div>
            </div>
            <div class="am-u-sm-7 am-u-md-12">
                <p>
                    <strong>
                        这里是文章标题这里是文章标题
                    </strong>
                </p>
                <p class="c-red">/零仔No.1</p>
            </div>
        </div>
        <div class="article-list-item am-g am-margin-vertical">
            <div class="am-u-sm-5 am-u-md-12">
                <div class="article-list-item-img">
                    <img src="../Public/1.jpg" class="am-img-responsive">
                </div>
            </div>
            <div class="am-u-sm-7 am-u-md-12">
                <p>
                    <strong>
                        这里是文章标题这里是文章标题
                    </strong>
                </p>
                <p class="c-red">/零仔No.1</p>
            </div>
        </div>
    </div>
</section>

<script src="../Public/dist/common.js"></script>
<script src="../Public/dist/article-list.js"></script>
</body>
</html>